
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 16px; 
  }
  
  html {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5
  }
  
  
  body {
    margin: 0;
  }
  
  
  main {
    display: block;
  }
  
  .container {
    width: 100%
  }

  
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible; 
  }
  
  pre {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }
  
  a {
    background-color: transparent;
  }
  
  
  
  abbr[title] {
    border-bottom: none; 
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; 
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; 
  }
  
  button,
  input { 
    overflow: visible;
  }
  
  button,
  select { 
    text-transform: none;
  }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield; 
    outline-offset: -2px; 
  }
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit; 
  }
  
  details {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }
  
  
  
  blockquote,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
      margin: 0
  }
  
  button {
    background-color: transparent;
    background-image: none
  }
  
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
  }
  
  fieldset,
  ol,
  ul {
    margin: 0;
    padding: 0
  }
  
  ol,
  ul {
      list-style: none
  }
  
  hr {
    border-top-width: 1px
  }
  
  [role=button],
  button {
      cursor: pointer
  }
  
  table {
    border-collapse: collapse
  }
  
  a {
    color: inherit;
    text-decoration: inherit
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
      padding: 0;
      line-height: inherit;
      color: inherit
  }
  
  audio,
  canvas,
  embed,
  iframe,
  object,
  svg,
  video {
      display: block;
      vertical-align: middle;
  }
  
    /* container MEADIA SCREEN */
  
    @media (min-width:640px) {
      .container {
          max-width: 640px
      }
  }
  
  @media (min-width:768px) {
      .container {
          max-width: 768px
      }
  }
  
  @media (min-width:1024px) {
      .container {
          max-width: 1024px
      }
  }
  
  @media (min-width:1280px) {
      .container {
          max-width: 1280px
      }
  }
  
  @media (min-width:1399px) {
      .container {
          max-width: 1399px
      }
  }
  
  @media (min-width:1600px) {
      .container {
          max-width: 1600px
      }
  }
  
  
   /* navigation  */
  
   a{
    text-decoration: none;
   }
  
   .nav-link {
    display: flex;
    align-items: center;
    --text-opacity: 1;
    color: #636363;
    color: rgba(99, 99, 99, var(--text-opacity));
    padding: .5rem 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 2rem
  }
  
  .nav-link.active {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity));
    border-left-width: 2px;
    --border-opacity: 1;
    border-color: #000;
    border-color: rgba(0, 0, 0, var(--border-opacity))
  }
  
  .nav-link.active>svg {
    margin-left: -.25rem
  }
  
  .sub-menu-links {
    display: none;
    padding-bottom: .5rem
  }
  
  .sub-menu-links ul li {
    display: flex
  }
  
  .sub-menu-links ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 0;
    --text-opacity: 1;
    color: #636363;
    color: rgba(99, 99, 99, var(--text-opacity));
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 2rem
  }
  
  .sub-menu-links ul li a.active {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity))
  }
  
  .nav-link.active+.sub-menu-links {
    display: block
  }
  
  @media (min-width:1280px) {
    .sub-menu-links ul li {
        margin-left: 2rem
    }
    .sub-menu-links ul li a {
        padding: .125rem 1rem
    }
  }
  
  @media (min-width:1399px) {
    .nav-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .sub-menu-links ul li {
        margin-left: 1rem
    }
    .sub-menu-links ul li a {
        padding-left: 1.5rem;
        padding-right: .5rem
    }
  }
  


  /* css custom */

  /* header-css-start */

  .header-container{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 36px 30px 60px;
  }  

.main-logo{
    width: 198px;
    height: auto;
}

.profile-img{
  padding-top: 8px;
  cursor: pointer;
}

.nav-bar-ul{
    display: flex;
    column-gap: 30px;
}

.nav-item a{
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    color: #666666;

}

.login-container{
    display: flex;
    align-items: center;
}

.contact p {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #000;
    margin-right: 34px;
}
 .login-btn {
    padding: 16px 23px;
    background-color: #ffffff;
    border: 1px solid #000000;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    border-radius: 10px;
    margin-right: 16px;
    cursor: pointer;
}

.login-btn:hover{
    background-color: #666666;
    color: #ffffff;
    border: 1px solid #666666;
}

.register-btn-navbar{
    cursor: pointer;
    padding: 16px 23px;
    color: #ffffff;
    background-color: black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    margin-right: 27px;
}


.register-btn-navbar:hover{
    background-color: #666666;
    color: #ffffff;
}

  /* home container  */

.home-container{
  background: url('image/home-background.svg') no-repeat right  ;
  display: flex;
  width: calc(100% - 100px);
  max-width: calc(100% - 100px) !important;
  padding: 300px 0px 0px 100px;
  margin-top: -320px;
}


.home-tittle{
  font-family: 'Crimson Pro' , sans-serif;
  font-weight: 800;
  font-size: 4.875rem;
  line-height: 83px;
  width: 70%;
}



.home-list{
  align-items: center;
  display: flex;
  column-gap: 12px;
}



.home-list p {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 45px;
  color: #666666;
}

.home-sub-tittle{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 35px;
  color: #000;

}

.home-circle{
  position: absolute;
  top: 202px;
  left: 796px;
}

.home-arrow{
  position: absolute;
  top: 185px;
  left: 980.96px;
}

.home-register-btn a{
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  color: #ffffff;
  padding: 16px 25px;
  background-color: #000;
  border-radius: 10px;
  width: 13%;
}

.register-btn{
  display: flex;
  margin: 30px 0px;
  column-gap: 14px;
}

.register-btn:hover{
  background-color: #ffd25d;
  color: #000000;
}


.country-list-container{
  display: flex;
}

.country-list{
  display: flex;
  align-items: center;

}

.country-list p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 22px;
  color: #666666;
}

  /* second-container */

.content2-container{
   background-color: #FFF9EB;
   display: flex;
   justify-content: space-between;
   column-gap: 80px;
   align-items: center;
   padding: 0px 200px;
}

.learn-online{
   padding: 80px 0px ;
}

.content2-tittle{
  font-family: 'Crimson Pro' , sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 53px;
  color: #000;
}

.content2-p{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 35px;
  color:#666666;
  margin: 20px 0px;
}

.learn-more{
  display: flex;
  align-items: center;
}

.learn-more a{
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 35px;
}


      /* content2 end */
      /* content3 start */

.content3-container{
  padding: 83px 200px ;
  
}

.content3-tittle{
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 67px;
  color: #000;
  margin: 0px 0px 25px;
  text-align: center;

}


.content3-language{
  display: flex;
  padding: 30px 40px;
  background: #FFF9EB;
  border-radius: 30px;
  justify-content: space-between;
}

.arrow-btn{
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.03);
  padding: 22px 25px;
  border-radius: 35px;
  border: none;
  border: 1px solid #FFFFFF;
}

.arrow-btn:hover{
  border: 1px solid rgba(0, 0, 0, 0.671);
}

.language-btn{
  background: #FFFFFF;
  border: 1px solid #E9E2D1;
  border-radius: 0.875rem;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 35px;
  color: #666666;
  padding: 20px 30px;
}

.language-btn:hover{
  border: 1px solid #FFD25D;
  color: #000;
}



.arrow-btn img{
  width: 20px;
  height: 20px;
}

.language-btn:focus {
  outline: 1px solid #FFD25D;
  color: #000;
}

.language-header{
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 30px;
}

.language-header a {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #666666;
}

.language-tittle{
  display: flex;
  align-items: center;
}

.language-tittle p {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}

/* lesson card */

.lesson-card-container{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
}

.lesson-card{
 padding: 30px;
 border: 1px solid #ECECEC;
 border-radius: 20px;
}

.lesson-card:hover{
  border: 1px solid #d4d4d4;
}


.lesson-card-tittle{
  font-weight: 500;
  font-size: 1.688rem;
  line-height: 33px;

}

.lesson-date{
 display: flex;
 align-items: center;
 margin: 10px 0px 15px 0px;
}

.live-btn{
  display: flex;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 18px;
  color: #8CC051;
  background-color: #ECF3E5;
  padding: 6px 12px;
  border-radius: 30px;
  margin-right: 10px;
  column-gap: 6px;
}

.lesson-date p{
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 18px;
  color: #666666;
}

.teacher-profile-card{
  display: flex;
  align-items: center;
  position: relative;
}

.profile-name-card{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;  
  color: #000;
  margin: 0 0 0 10px;
  
}

.gread-btn{
 position: absolute;
 right: 0px;
}

.card1-gread-btn1{
  background: #CAE6AB;
  border: 1px solid #8DC153;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: 'Roboto', sans-serif;
}

.card1-gread-btn2{
  background: #A7D473;
  border: 1px solid #8DC153;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: 'Roboto', sans-serif;
}

.onther-lesson-btn{
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 35px;
    color: #000;
    background: #FFD25D;
    border-radius: 14px;
    padding: 15px 30px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 12%;
    margin: 30px auto 0px;
    cursor: pointer;
}

.onther-lesson-btn:hover{
  background-color: rgba(255, 209, 93, 0.814);
}
.card2-gread-btn1{
  background: #8DC153;
  border: 1px solid #8DC153;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: 'Roboto', sans-serif;
}

.card2-gread-btn2{
  background: #ffde9c;
  border: 1px solid #F6BB43;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: 'Roboto', sans-serif;
}

.card3-gread-btn1{
  background: #FB6E52;
  border: 1px solid #FB6E52;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: 'Roboto', sans-serif;
}

.card3-gread-btn2{
  background: #A7D473;
  border: 1px solid #8DC153;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: Roboto, sans-serif;
}

    /* content4 start  */

.content4-container{
    display: flex;
    background-color: #FFD25D;
    justify-content: space-between;
    position: relative;
}


.score-card1{
  background: linear-gradient(102.79deg, #FFFFFF 16.35%, rgba(255, 255, 255, 0.6) 118.55%);
  padding: 40px 70px;
  border-radius: 20px;
  position: absolute;
    top: 80px;
    left: 240px;
}

.score-card2{
  background: linear-gradient(102.79deg, #FFFFFF 16.35%, rgba(255, 255, 255, 0.6) 118.55%);
  padding: 40px 70px;
  border-radius: 20px;
  position: absolute;
    top: 80px;
    left: 575px;
}

.score-card3{
  background: linear-gradient(102.79deg, #FFFFFF 16.35%, rgba(255, 255, 255, 0.6) 118.55%);
  padding: 40px 70px;
  border-radius: 20px;
  position: absolute;
    top: 261px;
    left: 375px;
}

.score-card4{
  background: linear-gradient(102.79deg, #FFFFFF 16.35%, rgba(255, 255, 255, 0.6) 118.55%);
  padding: 40px 70px;
  border-radius: 20px;
  position: absolute;
  top: 261px;
  left: 731px;
}

.score-card-tittle{
  font-family: 'Crimson Pro';
  font-weight: 600;
  font-size: 48px;
  line-height: 53px;
  color: #000;
}

.score-sub-tittle{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #666666;
}

.content4-img img{
  position: absolute;
  top: 45px;
  left: 1146px;
}

      /* content 5 start */

    .content5-container{
      padding: 80px 200px;
      background-color:  #FFF9EB;
    }

    .content5-tittle{
      font-family: 'Crimson Pro';
      color: #000;
      font-weight: 600;
      font-size: 3.75rem;
      line-height: 67px;
      text-align: center;
    }

    .teacher-profile-grid{
      display:grid;
      grid-template-columns: auto auto auto auto auto;
      column-gap: 20px;
      row-gap: 20px;
      padding: 25px 0px 30px;
    }

    .teacher-details-card{
      display: flex;
      padding: 15px;
      border: 1px solid #ECECEC;
      border-radius: 10px;
      position: relative;
      background-color: #ffffff;
      cursor: pointer;
    }

    .teacher-details-card:hover{
      border: 1px solid #d4d4d4;
    }

    .teacher-profile img{
      padding: 0px 15px 0px 0px;
    }

    .teacher-profile-tittle{
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 22px;
      color: #000;
    }

    .BGN{
      display: flex;
      padding: 2px 0px 5px 0px;
    }

    .teacher-sub-tittle{
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 15px;
      color: #000;
    }

    .teacher-score{
      display: flex;
      column-gap: 15px;
    }

    .teacher-hr{
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 15px;
      color: #666666;
    }

    .meterial-score{
      font-weight: 400;
      font-size: .75rem;
      line-height: 15px;
      color: #666666;
    }

    .video-score{
       display: flex;
       align-items: center;
       column-gap: 7px;
    }


    .teacher-country img{
      position: absolute;
      right: 15px;
    }

    .other-teacher-btn{
      padding: 15px 30px;
      background-color: #FFD25D;
      font-weight: 400;
      font-size: 1.375rem;
      line-height: 35px;
      color: #000;
      cursor: pointer;
      text-align: center;
      margin: auto;
      width: 12%;
      border-radius: 14px;
      border: 1px solid rgba(255, 209, 93, 0.814); ;
    }

    .other-teacher-btn:hover{
      background-color: rgba(255, 209, 93, 0.89); 
      border: 1px solid rgba(208, 171, 77, 0.814); ;
    }

    /* content6-container start */


  .content6-container{
    padding: 80px 200px;
    background-color: #FFFFFF;
  }

  .content6-tittle{
    text-align: center;
    color: #000;
    font-family: 'Crimson Pro' , sans-serif;
    font-weight: 600;
    font-size: 4.188rem;
    line-height: 67px;
    margin-bottom: 30px;
  }

  .teacher-opinion-grid{
   display: grid;
   grid-template-columns: auto auto auto;
   column-gap: 30px;
  }

  .opinion-card{
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 20px;
    padding: 25px;
  }

  .opinion-card:hover{
    border: 1px solid #d4d4d4;
  }

  .opinion-profile{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }


  .opinion-sub-titlle{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    color: #000;
  }

  .opinion-sub-titlle p {
    margin: 0 15px;
  }

  .see-all{
    position:absolute;
    right: 0;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 16px;
    color: #666666;
  }

  .opinion-content{
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #000;
  }

  .gergana{
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #666666;
  }

  /* content 7 start */

  .content7-container{
    padding: 80px 200px;
    background-color:  #FFF9EB;
  }

  .content7-tittle{
    font-family: 'Crimson Pro', sans-serif;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 67px;
    color: #000;
    text-align: center;
    padding-bottom: 30px;
  }


  .blog-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
  }

  .blog{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
  }

  .blog:hover{
    border: 1px solid #d4d4d4;
  }


  .blog-date{
    padding: 19px 0px 6px 0px;
    font-size: 0.938rem;
    color: #666666;
    font-weight: 400;
    line-height: 18px;
  }


  .blog-sub-tittle{
    color: #000;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
  }
  

  /* footer start  */

  .footer-container{
    background-color: #000;
    padding: 62px 100px;
  }

  .footer-nav-bar{
    margin: auto;
  }

  .footer-nav-bar-ul{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-right: 83px;
  }

  .footer-nav-item a{
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    color: #FFFFFF;
  }

  .footer-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .footer-line{
    font-size: 1.125rem;
    font-family: 'Roboto' , sans-serif;
    color: #ECECEC;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }

  .footer-media-icon{
    display: flex;
    column-gap: 20px;
  }

  .footer-media-icon img{
    cursor: pointer;
  }