
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 16px; 
  }
  
  html {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5
  }
  
  
  body {
    margin: 0;
  }
  
  
  main {
    display: block;
  }
  
  .container {
    width: 100%
  }

  
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible; 
  }
  
  pre {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }
  
  a {
    background-color: transparent;
  }
  
  
  
  abbr[title] {
    border-bottom: none; 
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; 
    font-size: 1em; 
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; 
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; 
  }
  
  button,
  input { 
    overflow: visible;
  }
  
  button,
  select { 
    text-transform: none;
  }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield; 
    outline-offset: -2px; 
  }
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit; 
  }
  
  details {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }
  
  
  
  blockquote,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
      margin: 0
  }
  
  button {
    background-color: transparent;
    background-image: none
  }
  
  button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
  }
  
  fieldset,
  ol,
  ul {
    margin: 0;
    padding: 0
  }
  
  ol,
  ul {
      list-style: none
  }
  
  hr {
    border-top-width: 1px
  }
  
  [role=button],
  button {
      cursor: pointer
  }
  
  table {
    border-collapse: collapse
  }
  
  a {
    color: inherit;
    text-decoration: inherit
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
      padding: 0;
      line-height: inherit;
      color: inherit
  }
  
  audio,
  canvas,
  embed,
  iframe,
  object,
  svg,
  video {
      display: block;
      vertical-align: middle;
  }
  
    /* container MEADIA SCREEN */
  
    @media (min-width:640px) {
      .container {
          max-width: 640px
      }
  }
  
  @media (min-width:768px) {
      .container {
          max-width: 768px
      }
  }
  
  @media (min-width:1024px) {
      .container {
          max-width: 1024px
      }
  }
  
  @media (min-width:1280px) {
      .container {
          max-width: 1280px
      }
  }
  
  @media (min-width:1399px) {
      .container {
          max-width: 1399px
      }
  }
  
  @media (min-width:1600px) {
      .container {
          max-width: 1600px
      }
  }
  
  
   /* navigation  */
  
   a{
    text-decoration: none;
   }
  
   .nav-link {
    display: flex;
    align-items: center;
    --text-opacity: 1;
    color: #636363;
    color: rgba(99, 99, 99, var(--text-opacity));
    padding: .5rem 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 2rem
  }
  
  .nav-link.active {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity));
    border-left-width: 2px;
    --border-opacity: 1;
    border-color: #000;
    border-color: rgba(0, 0, 0, var(--border-opacity))
  }
  
  .nav-link.active>svg {
    margin-left: -.25rem
  }
  
  .sub-menu-links {
    display: none;
    padding-bottom: .5rem
  }
  
  .sub-menu-links ul li {
    display: flex
  }
  
  .sub-menu-links ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 0;
    --text-opacity: 1;
    color: #636363;
    color: rgba(99, 99, 99, var(--text-opacity));
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 2rem
  }
  
  .sub-menu-links ul li a.active {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity))
  }
  
  .nav-link.active+.sub-menu-links {
    display: block
  }
  
  @media (min-width:1280px) {
    .sub-menu-links ul li {
        margin-left: 2rem
    }
    .sub-menu-links ul li a {
        padding: .125rem 1rem
    }
  }
  
  @media (min-width:1399px) {
    .nav-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .sub-menu-links ul li {
        margin-left: 1rem
    }
    .sub-menu-links ul li a {
        padding-left: 1.5rem;
        padding-right: .5rem
    }
  }
  


  /* css custom */

  /* header-css-start */

  header{
    margin: auto;
    padding: 0 200px;
  }
  .header-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 60px 0px;
  }  

  
.header-commpany-logo{
    width: 198px;
    height: auto;
    /* padding: 0px 0px 0px 60px; */
  }



.profile-img{
  padding-top: 8px;
  cursor: pointer;
}

.nav-bar-ul{
    display: flex;
    column-gap: 30px;
}

.nav-item a{
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    color: #666666;

}

.login-container{
    display: flex;
    align-items: center;
}

.contact p {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    color: #000;
    margin-right: 34px;
}
 .login-btn {
    padding: 16px 23px;
    background-color: #ffffff;
    border: 1px solid #000000;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    border-radius: 10px;
    margin-right: 16px;
    cursor: pointer;
}

.login-btn:hover{
    background-color: #666666;
    color: #ffffff;
    border: 1px solid #666666;
}

.register-btn-navbar{
    cursor: pointer;
    padding: 16px 23px;
    color: #ffffff;
    background-color: black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
    margin-right: 27px;
}


.register-btn-navbar:hover{
    background-color: #666666;
    color: #ffffff;
}

  /* home container  */

.home-container{
  background: url('image/home-background.svg') no-repeat right  ;
  display: flex;
  width: calc(100% - 400px);
  max-width: calc(100% - 400px) !important;
  padding: 335px 200px 0px 200px;
  margin-top: -320px;
}


.home-tittle{
  font-family: 'Crimson Pro' , sans-serif;
  font-weight: 800;
  font-size: 4.875rem;
  line-height: 83px;
  
}

.home-list-container{
  margin-top: 17px;
}

.home-list{
  align-items: center;
  display: flex;
  column-gap: 12px;
}



.home-list p {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 45px;
  color: #666666;
}

.home-sub-tittle{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 35px;
  color: #000;

}

.home-circle{
  position: absolute;
  top: 202px;
  left: 796px;
}

.home-arrow{
  position: absolute;
  top: 185px;
  left: 980.96px;
}

.home-register-btn{
  margin: 46px 0 52px;
}

.home-register-btn a{
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
  color: #ffffff;
  padding: 16px 25px;
  background-color: #000;
  border-radius: 10px;
  /* width: 13%; */
}

.home-register-btn a img{
  margin-left: 7px;
}

.register-btn{
  /* display: flex; */
  /* column-gap: 14px; */
  margin: 30px 0px;
}

.register-btn:hover{
  background-color: #ffd25d;
  color: #000000;
  -webkit-box-shadow: -2px 25px 49px -7px rgba(0,0,0,0.2);
  -moz-box-shadow: -2px 25px 49px -7px rgba(0,0,0,0.2);
  box-shadow: -2px 25px 49px -7px rgba(0,0,0,0.2); 
}


.country-list-container{
    display: flex;
    /* position: absolute; */
    column-gap: 28px;
    margin-top: 11px;
}

.country-list{
  display: flex;
  align-items: center;

}

.country-list img{
  width: 28px;
  height: 28px;
  margin-left: 2px;
  height: auto;
  margin-right: 10px;
}

.country-list p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 22px;
  color: #666666;
  margin-bottom: 5px;
}

.country-list a{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 22px;
  color: #666666;
  margin-bottom: 5px;
}

  /* second-container */

.content2-container{
   background-color: #FFF9EB;
   display: flex;
   justify-content: space-between;
   column-gap: 80px;
   align-items: center;
   padding: 80px 200px;
}

.content2-tittle{
  font-family: 'Crimson Pro' , sans-serif;
  font-weight: 600;
  font-size: 3rem;
  line-height: 53px;
  color: #000;
}

.content2-p{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 35px;
  color:#666666;
  margin: 20px 0px;
}

.learn-more{
  display: flex;
  align-items: center;
  column-gap: 13px;
  align-items: center;
}

.learn-more a{
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 35px;
}

.learn-more img{
  padding-top: 9px;
}


      /* content2 end */
      /* content3 start */

.content3-container{
  padding: 82px 200px ;
  
}

.content3-tittle{
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 3.75rem;
  line-height: 67px;
  color: #000;
  margin: 0px 0px 25px;
  text-align: center;

}


.content3-language{
  display: flex;
  padding: 30px 40px;
  background: #FFF9EB;
  border-radius: 30px;
  justify-content: space-between;
}

.arrow-btn{
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.03);
  padding: 22px 25px;
  border-radius: 35px;
  border: none;
  border: 1px solid #FFFFFF;
}

.arrow-btn:hover{
  border: 1px solid rgba(0, 0, 0, 0.671);
}

.language-btn{
  background: #FFFFFF;
  border: 1px solid #E9E2D1;
  border-radius: 0.875rem;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 35px;
  color: #666666;
  padding: 20px 30px;
}

.language-btn:hover{
  border: 1px solid #FFD25D;
  color: #000;
}



.arrow-btn img{
  width: 20px;
  height: 20px;
}

.language-btn:focus {
  outline: 1px solid #FFD25D;
  color: #000;
}

.language-header{
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 30px;
}

.language-header a {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #666666;
}

.language-tittle{
  display: flex;
  align-items: center;
}

.language-tittle p {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000;
}


/* lesson card */

.lesson-card-container{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
}

.lesson-card{
 padding: 30px;
 border: 1px solid #ECECEC;
 border-radius: 20px;
}

.lesson-card:hover{
  border: 1px solid #d4d4d4;
  -webkit-box-shadow: 0px 29px 89px -17px rgba(0,0,0,0.0.9);
  -moz-box-shadow: 0px 29px 89px -17px rgba(0,0,0,0.09);
  box-shadow: 0px 29px 89px -17px rgba(0,0,0,0.09);
}


.lesson-card-tittle{
  font-weight: 500;
  font-size: 1.688rem;
  line-height: 33px;
  
}

.lesson-date{
  display: flex;
  align-items: center;
  margin: 10px 0px 15px 0px;
}

.live-btn{
  display: flex;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 18px;
  color: #8CC051;
  background-color: #ECF3E5;
  padding: 6px 12px;
  border-radius: 30px;
  margin-right: 10px;
  column-gap: 6px;
}

.lession-thoughts{
  padding-top: 20px;
}

.teacher-w-40{
  width: 40px;
  height: auto;
}

.lesson-date p{
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 18px;
  color: #666666;
}

.teacher-profile-card{
  display: flex;
  align-items: center;
  position: relative;
}

.profile-name-card{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;  
  color: #000;
  margin: 0 0 0 10px;
  
}

.gread-btn{
 position: absolute;
 right: 0px;
}

.card1-gread-btn1{
  background: #CAE6AB;
  border: 1px solid #8DC153;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: 'Roboto', sans-serif;
}

.card1-gread-btn2{
  background: #A7D473;
  border: 1px solid #8DC153;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: 'Roboto', sans-serif;
}

.onther-lesson-btn{
  margin: auto;
}

.onther-lesson-btn a{
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 35px;
    color: #000;
    background: #FFD25D;
    border-radius: 14px;
    padding: 15px 30px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 30px auto 0px;
    cursor: pointer;
    border: 1px solid #ffd25d;
}

.onther-lesson-btn a:hover{
  background-color: rgba(255, 209, 93, 0.814);
  color: #000000;
  border: 1px solid rgba(208, 171, 77, 0.814);
}
.card2-gread-btn1{
  background: #8DC153;
  border: 1px solid #8DC153;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: 'Roboto', sans-serif;
}

.card2-gread-btn2{
  background: #ffde9c;
  border: 1px solid #F6BB43;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: 'Roboto', sans-serif;
}

.card3-gread-btn1{
  background: #FFDE9C;
  border: 1px solid #F6BB43;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: 'Roboto', sans-serif;
}

.card3-gread-btn2{
  background: #FB6E52;
  border: 1px solid #FB6E52;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 9px;
  font-family: Roboto, sans-serif;
}

    /* content4 start  */

.content4-container{
    display: flex;
    background-color: #FFD25D;
    justify-content: space-between;
    position: relative;
    padding: 0px  80px  0px 140px;
}

.content4-background{
  /* overflow: hidden; */
}


.score-card1{
  text-align: center;
  background: linear-gradient(102.79deg, #FFFFFF 16.35%, rgba(255, 255, 255, 0.6) 118.55%);
  padding: 40px 70px;
  border-radius: 20px;
  position: absolute;
  top: 80px;
  left: 240px;
}

.score-card2{
  text-align: center;
  background: linear-gradient(102.79deg, #FFFFFF 16.35%, rgba(255, 255, 255, 0.6) 118.55%);
  padding: 40px 70px;
  border-radius: 20px;
  position: absolute;
    top: 80px;
    left: 575px;
}

.score-card3{
  text-align: center;
  background: linear-gradient(102.79deg, #FFFFFF 16.35%, rgba(255, 255, 255, 0.6) 118.55%);
  padding: 40px 70px;
  border-radius: 20px;
  position: absolute;
    top: 261px;
    left: 375px;
}

.score-card4{
  text-align: center;
  background: linear-gradient(102.79deg, #FFFFFF 16.35%, rgba(255, 255, 255, 0.6) 118.55%);
  padding: 40px 70px;
  border-radius: 20px;
  position: absolute;
  top: 261px;
  left: 731px;
}

.score-card-tittle{
  font-family: 'Crimson Pro';
  font-weight: 600;
  font-size: 3rem;
  line-height: 53px;
  color: #000;
}

.score-sub-tittle{
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 24px;
  color: #666666;
}

.content4-img img{
  position: absolute;
  top: 45px;
  left: 1146px;
}

      /* content 5 start */

    .content5-container{
      padding: 80px 200px;
      background-color:  #FFF9EB;
    }

    .content5-tittle{
      font-family: 'Crimson Pro';
      color: #000;
      font-weight: 600;
      font-size: 3.75rem;
      line-height: 67px;
      text-align: center;
    }

    .teacher-profile-grid{
      display:grid;
      grid-template-columns: auto auto auto auto auto;
      column-gap: 20px;
      row-gap: 20px;
      padding: 25px 0px 30px;
    }

    .teacher-details-card{
      display: flex;
      padding: 15px;
      border: 1px solid #ECECEC;
      border-radius: 10px;
      position: relative;
      background-color: #ffffff;
      cursor: pointer;
    }

    .teacher-details-card:hover{
      border: 1px solid #d4d4d4;
    }

    .teacher-profile img{
      padding: 0px 15px 0px 0px;
    }

    .teacher-profile-tittle{
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 22px;
      color: #000;
    }

    .BGN{
      display: flex;
      padding: 2px 0px 5px 0px;
    }

    .teacher-sub-tittle{
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 15px;
      color: #000;
    }

    .teacher-score{
      display: flex;
      column-gap: 15px;
    }

    .teacher-hr{
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 15px;
      color: #666666;
    }

    .meterial-score{
      font-weight: 400;
      font-size: .75rem;
      line-height: 15px;
      color: #666666;
    }

    .video-score{
       display: flex;
       align-items: center;
       column-gap: 7px;
    }


    .teacher-country img{
      position: absolute;
      right: 15px;
    }

    .other-teacher-btn a{
      padding: 15px 30px;
      background-color: #FFD25D;
      font-weight: 400;
      font-size: 1.375rem;
      line-height: 35px;
      color: #000;
      cursor: pointer;
      text-align: center;
      margin: auto;
      border-radius: 14px;
      border: 1px solid rgba(255, 209, 93, 0.814); ;
    }

    .other-teacher-btn a:hover{
      background-color: rgba(255, 209, 93, 0.89); 
      border: 1px solid rgba(208, 171, 77, 0.814);
      color: #000;
    }

    /* content6-container start */


  .content6-container{
    padding: 80px 200px;
    background-color: #FFFFFF;
  }

  .content6-tittle{
    text-align: center;
    color: #000;
    font-family: 'Crimson Pro' , sans-serif;
    font-weight: 600;
    font-size: 4.188rem;
    line-height: 67px;
    margin-bottom: 30px;
  }

  .teacher-opinion-grid{
   display: grid;
   grid-template-columns: auto auto auto;
   column-gap: 30px;
  }

  .opinion-card{
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 20px;
    padding: 25px;
  }

  .opinion-card:hover{
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 0px 29px 89px -17px rgba(0,0,0,0.0.9);
    -moz-box-shadow: 0px 29px 89px -17px rgba(0,0,0,0.09);
    box-shadow: 0px 29px 89px -17px rgba(0,0,0,0.09);
  }

  .opinion-profile{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }


  .opinion-sub-titlle{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
    color: #000;
  }

  .opinion-sub-titlle p {
    margin: 0 15px;
  }

  .see-all{
    position:absolute;
    right: 0;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 16px;
    color: #666666;
  }

  .opinion-content{
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #000;
  }

  .gergana{
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #666666;
  }

  /* content 7 start */

  .content7-container{
    padding: 80px 200px;
    background-color:  #FFF9EB;
  }

  .content7-tittle{
    font-family: 'Crimson Pro', sans-serif;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 67px;
    color: #000;
    text-align: center;
    padding-bottom: 30px;
  }


  .blog-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
  }

  .blog{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
  }

  .blog:hover{
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 0px 29px 89px -17px rgba(0,0,0,0.0.9);
    -moz-box-shadow: 0px 29px 89px -17px rgba(0,0,0,0.09);
    box-shadow: 0px 29px 89px -17px rgba(0,0,0,0.09);
  }


  .blog-date{
    padding: 19px 0px 6px 0px;
    font-size: 0.938rem;
    color: #666666;
    font-weight: 400;
    line-height: 18px;
  }


  .blog-sub-tittle{
    color: #000;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 29px;
  }
  

  /* footer start  */

  .footer-container{
    background-color: #000;
    padding: 62px 200px;
  }

  .footer-nav-bar{
    margin: auto;
  }

  .footer-nav-bar-ul{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-right: 83px;
  }

  .footer-nav-item a{
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 24px;
    color: #FFFFFF;
  }

  .footer-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .footer-line{
    font-size: 1.125rem;
    font-family: 'Roboto' , sans-serif;
    color: #ECECEC;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 21px;
  }

  .footer-media-icon{
    display: flex;
    column-gap: 20px;
  }

  .footer-media-icon img{
    cursor: pointer;
  }


  /* media responsive :start */


  @media only screen and (max-width: 1681px){
  
  html{
    font-size: 15px;
  }

  .header-container{
   
  }
  
  .home-container{
    padding: 335px 200px 0px 200px;
  }

  .home-tittle{
    line-height: 70px;
  }

  .home-list-container{
    margin-top: 15px;
  }

  .register-btn{
    margin: 20px 0px;
  }

  .nav-bar-ul{
    column-gap: 25px;
  }
  


  .home-register-btn a {
    line-height: 25px;
    padding: 15px 20px;
    width: 15%;
  }

  .contact p{
    margin-right: 15px;
  }

  .country-list-container{
    column-gap: 15px;
  }

  
  .home-circle{
    top: 166px;
    left: 690px;
  }

  .home-arrow{

  }

  .home-main-img{
    width: calc(100% - 150px);

  }






    /* content 2 media 1681 */

  .content2-container{
    padding: 50px 150px;
  }

 
 .content2-tittle{
   line-height: 53px;
  }
 
 .content2-p{
   line-height: 35px;
   margin: 20px 0px;
  }
 
 .learn-more{
   column-gap: 13px;
  }
 
 .learn-more a{
   line-height: 35px;
  }
 
 .learn-more img{
   padding-top: 9px;
  }
 
 



  /* content 3 media 1681 */


  .content3-container{
    padding: 50px 150px;
  }

  .content3-language{
    padding: 20px 20px;
  }

  .language-btn{
    line-height: 30px;
    color: #666666;
    padding: 15px 20px;
  }

  .learn-more{
    padding: 0px;
  }

  .language-header {
    justify-content: space-between;
    padding: 35px 0px 25px;
  }

  .onther-lesson-btn{
    margin: 20px auto 0px;
  }

  .teacher-w-46{
    width: 46px;
    height: auto;
  }


  /* content4 container  */

  .content4-container{
    padding: 0 200px 0px ;
  }

  .content4-background{
    width: 100%;
    max-width: 100%;
  }

   .score-card1{
       padding: 30px 35px;
       top: 45px;
       left: 280px;
   }

  .score-card2{
        padding: 30px 35px;
        top: 45px;
        left: 535px;
    }

  .score-card3{
        padding: 30px 35px;
        top: 200px;
        left: 365px;
    }

  .score-card4{
        padding: 30px 35px;
        top: 200px;
        left: 640px;
    }

  .content4-img img{
    width: 18.22%;
    left: 945px;
  }  











  .content5-container{
    padding: 50px 150px;
  }
  
  .content6-container{
    padding: 60px 150px;
  }


  /* content 7 media 1681px */

  .content7-container{
    padding: 60px 150px;
  }

  .blog-img-div img{
    width: 90%;
    height: auto;
  }

  .blog{
    padding: 15px;
  }
  .blog-date{
    padding: 10px 0px 6px 0px;
    line-height: 15px;
  }
  



      /* footer media 1681px */

      .footer-container{
        padding: 50px 100px;
      }

  }

  /* landing-page
   media screen 1450px l laptop */

  @media only screen and (max-width: 1450px){

  
    html{
      font-size: 12px;
    }
  
    .header-container{
     
    }

    .header-commpany-logo {
      width: 185px;
    }

    .contact p {
      margin-right: 10px;
    }

    .login-btn{
      padding: 8px 15px;
    }

    .register-btn-navbar{
      padding: 10px 20px;
      margin-right: 10px;
    }
    
    .home-container{
      padding: 285px 130px 0px;
    }
  
    .home-tittle{
      line-height: 55px;
    }
  
    .home-list-container{
      margin-top: 15px;
    }
  
    .register-btn{
      margin: 10px 0px;
    }
  
    .nav-bar-ul{
      column-gap: 15px;
    }
  
    .register-btn{
      column-gap: 10px;
    }
  
    .home-register-btn a {
      line-height: 23px;
      padding: 13px 16px;
      width: 17%;
    }
  
    .contact p{
      margin-right: 15px;
    }
  
    .country-list-container{
      column-gap: 10px;
    }
  
    .country-list{
      
    }

    .home-circle{
      top: 166px;
      left: 690px;
    }
  
    .home-arrow{
  
    }
  
    .home-main-img{
  
    }
  
  
  
  
  
  
      /* content 2 media 1681 */
  
    .content2-container{
      padding: 40px 65px;
      column-gap: 40px;
    }
  
   
   .content2-tittle{
     line-height: 40px;
    }
   
   .content2-p{
     line-height: 30px;
     margin: 15px 0px;
    }

    .content2-img img{
     
    }
   
   .learn-more{
       column-gap: 10px;
    }
   
   .learn-more a{
     line-height: 35px;
    }
   
   .learn-more img{
     padding-top: 8px;
    }
   
   
  
  
  
    /* content 3 media 1681 */
  
  
    .content3-container{
      padding: 50px 100px;
    }
  
    .content3-language{
      padding: 15px 20px;
    }
  
    .language-btn{
      line-height: 30px;
      color: #666666;
      padding: 10px 15px;
    }
  
    .learn-more{
      padding: 0px;
    }
  
    .language-header {
      justify-content: space-between;
      padding: 20px 0px 25px;
    }
  
    .onther-lesson-btn{
      margin: 20px auto 0px;
      padding: 10px 20px;
    }
  
    .arrow-btn{
      padding: 15px 20px;
    } 
    
    .lesson-card {
      padding: 20px;
      border: 1px solid #ECECEC;
      border-radius: 15px;
    }

    

  
  
    /* content4 container  */
  
    .content4-container{
      padding: 0 80px 0px ;
    }
  
    .content4-background{
      width: 100%;
      max-width: 100%;
    }
  
     .score-card1{
         padding: 30px 35px;
         top: 40px;
         left: 170px;
     }
  
    .score-card2{
          padding: 30px 35px;
          top: 40px;
          left: 395px;
      }
  
    .score-card3{
          padding: 30px 35px;
          top: 200px;
          left: 245px;
      }
  
    .score-card4{
          padding: 30px 35px;
          top: 200px;
          left: 485px;
      }
  
    .content4-img img{
      width: 21.22%;
      left: 830px;
      top: 52px;
    }  



  
  
  
  
  
  
  
  
  
  
    .content5-container{
      padding: 40px 100px;
    }

    .teacher-profile img {
      width: 50px;
      height: auto;
      padding: 4px 8px 0px 0px;
    }

    .BGN{
      padding: 1px 0px 4px 0px;

    }

    .teacher-profile-grid{
      column-gap: 15px;
      row-gap: 15px;
      padding: 20px 0px 25px;
    }

    .teacher-details-card{
      padding: 10px;
    }

    
    .other-teacher-btn{
      
      padding: 10px 20px;
    }
    
    
    
    
    
    
    /* content 6 start  */
    
    .content6-container{
      padding: 50px 100px;
    }

    .content6-tittle{
      margin-bottom: 20px;
    }
    
    .teacher-opinion-grid{
      column-gap: 15px;
      padding: 20px 0px 25px;
    }
    
    .opinion-card{
      padding: 20px;
    }

    /* content 7 media 1681px */
    
    .content7-container{
      padding: 50px 100px;
    }
    
    .blog-img-div img{
      width: 90%;
      height: auto;
    }
  
    .blog{
      padding: 15px;
    }
    .blog-date{
      padding: 10px 0px 6px 0px;
      line-height: 15px;
    }
    
  
  
  
        /* footer media 1681px */
  
        .footer-container{
          padding: 50px 100px;
        }
  
    }

  /* landing-page
   media screen 1260px  */

   @media only screen and (max-width: 1260px){

    html{
      font-size: 11px;
    }
  
    .header-container{
     
    }

    .header-commpany-logo {
      width: 185px;
    }

    .contact p {
      margin-right: 10px;
    }

    .login-btn{
      padding: 8px 15px;
    }

    .register-btn-navbar{
      padding: 10px 20px;
      margin-right: 10px;
    }
    
    .home-container{
      /* padding: */
    }
  
    .home-tittle{
      line-height: 50px;
    }
  
    .home-list-container{
      margin-top: 15px;
    }
  
    .register-btn{
      margin: 10px 0px;
    }
  
    .nav-bar-ul{
      column-gap: 15px;
    }
  
    .register-btn{
      column-gap: 10px;
    }
  
    .home-register-btn a {
      line-height: 23px;
      padding: 13px 16px;
      width: 17%;
    }
  
    .contact p{
      margin-right: 15px;
    }
  
    .country-list-container{
      column-gap: 10px;
    }
  
    .country-list{
      
    }

    .home-circle{
      top: 166px;
      left: 690px;
    }
  
    .home-arrow{
  
    }
  
    .home-main-img{
  
    }
  
  
  
  
  
  
      /* content 2 media 1681 */
  
    .content2-container{
      padding: 50px 100px;
      column-gap: 50px;
    }
  
   
   .content2-tittle{
     line-height: 40px;
    }
   
   .content2-p{
     line-height: 30px;
     margin: 15px 0px;
    }
   
   .learn-more{
       column-gap: 10px;
    }
   
   .learn-more a{
     line-height: 35px;
    }
   
   .learn-more img{
     padding-top: 8px;
    }
   
   
  
  
  
    /* content 3 media 1681 */
  
  
    .content3-container{
      padding: 50px 80px;
    }
  
    .content3-language{
      padding: 15px 20px;
    }
  
    .language-btn{
      line-height: 30px;
      color: #666666;
      padding: 10px 15px;
    }
  
    .learn-more{
      padding: 0px;
    }
  
    .language-header {
      justify-content: space-between;
      padding: 20px 0px 25px;
    }

    .language-tittle img{
    }
  
    .onther-lesson-btn{
      margin: 20px auto 0px;
  
      padding: 10px 20px;
    }
  
    .arrow-btn{
      padding: 15px 20px;
    } 
    
    .lesson-card {
      padding: 20px;
      border: 1px solid #ECECEC;
      border-radius: 15px;
    }

    

  
  
    /* content4 container  */
  
    .content4-container{
      padding: 0px 80px 0px ;
    }
  
    .content4-background{
      width: 100%;
      max-width: 100%;
    }

    .score-card-tittle{
      line-height: 35px;
    }
  
     .score-card1{
         padding: 30px 35px;
         top: 35px;
         left: 165px;
     }
  
    .score-card2{
          padding: 30px 35px;
          top: 35px;
          left: 375px;
      }
  
    .score-card3{
          padding: 30px 35px;
          top: 172px;
          left: 240px;
      
      }
  
    .score-card4{
          padding: 30px 35px;
          top: 172px;
          left: 463px;
      
      }
  
    .content4-img img{
      width: 21.22%;
      top: 28px;
      left: 726px;
    }  
  
  
  
  
  
    .content5-container{
      padding: 30px 80px;
    }

    .teacher-profile img {
      width: 50px;
      height: auto;
      padding: 4px 8px 0px 0px;
    }

    .BGN{
      padding: 1px 0px 4px 0px;

    }

    .teacher-profile-grid{
      column-gap: 10px;
      row-gap: 10px;
      padding: 20px 0px 25px;
    }

    .teacher-details-card{
      padding: 10px;
    }

    
    .other-teacher-btn{
      
      padding: 10px 20px;
    }
    
    
    
    
    
    
    /* content 6 start  */
    
    .content6-container{
      padding: 50px 100px;
    }

    .content6-tittle{
      margin-bottom: 20px;
    }
    
    .teacher-opinion-grid{
      column-gap: 15px;
      padding: 20px 0px 25px;
    }
    
    .opinion-card{
      padding: 20px;
    }

    /* content 7 media 1681px */
    
    .content7-container{
      padding: 50px 100px;
    }
    
    .blog-img-div img{
      width: 90%;
      height: auto;
    }
  
    .blog{
      padding: 15px;
    }
    .blog-date{
      padding: 10px 0px 6px 0px;
      line-height: 15px;
    }
    
        /* footer media 1681px */
  
        .footer-container{
          padding: 50px 100px;
        }
    }

